@model IEnumerable<SchoolManagementAppWeb.Models.StudentDetailsForDropdownEF>

@{
    ViewData["Title"] = "ABC International School";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Welcome to ABC International School
            </h1>
            <p class="lead">
                Select an Student to see the Student details.
            </p>
            <table class="table">
                <tr>
                    <td>Select Student Name</td>
                    <td>
                        <select id="fetchStudentDetailsSelectListItem" class="form-control">
                            <option value="">-- Select Student --</option>
                            @foreach (var studentdet in ViewBag.studentSelectListItem)
                            {
                                <option value="@studentdet.student_registration_Id">@studentdet.student_name</option>
                            }
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Bloggie - Dev blogs" class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-hover align-middle text-center" style="margin-left:50px; margin-top:-20px;margin-right:50px; width:fit-content" id="selectedStudentDetailsTable">
    <thead>
        <tr>
            <th>student_registration_Id</th>
            <th>student_name</th>
            <th>student_roll_number</th>
            <th>student_mobile_number</th>
            <th>student_class_details</th>
            <th>student_section_details</th>
            <th>student_address</th>
            <th>student_guardian_Name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $('#fetchStudentDetailsSelectListItem').change(function () {
                var studentId = $(this).val();
                var tbody = $('#selectedStudentDetailsTable tbody');
                tbody.empty();

                if (studentId) {
                    $.getJSON('/StudentDetailsEF/fetchSelectedStudentDetailsFromSelectListItem', { student_registration_Id: studentId }, function (data) {
                        if (data.length > 0) {
                            $.each(data, function (i, item) {
                                tbody.append('<tr><td>' + item.student_registration_Id + '</td><td>' + item.student_name + '</td><td>' + item.student_roll_number + '</td><td>' + item.student_mobile_number + '</td><td>' + item.student_class_details + '</td><td>' + item.student_section_details + '</td><td>' + item.student_address + '</td><td>' + item.student_guardian_Name + '</td></tr>');
                            });
                        } else {
                            tbody.append('<tr><td colspan="3">No Student found</td></tr>');
                        }
                    });
                }
            });
        });
    </script>
}



